:root {
    --background-color: rgba(3, 108, 3, 0.648);
    --hover-color: rgba(0, 128, 0, 0.8);
    --active-color: red;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
}


div.showMovieContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    width: 60%;
    padding: 2em;


    @media screen and (max-width: 30em) {
        width: 100%;
    }


    font-family: 'Inter';
    margin-top: 3em;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
}

.grid-container {
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(4, 70px);
    gap: 5px;
}

.grid-item {
    width: 70px;
    height: 70px;
    
    @media (max-width: 768px) {
        width: 50px;
        height: 50px;
    }
   
}

.grid-item {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.grid-item:hover {
    transform: scale(1.1);
}

.grid-item i {
    color: rgba(0, 128, 0, 0.8);
    font-size: 40px;
}

.fa-couch:hover
{
    color: rgb(22, 121, 171);
}


