body
{
    display: flex;
    justify-content: center;
    align-items: center;
}


div.showMovieContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    width: 100%;
    padding: 2em;


    @media screen and (max-width: 30em) {
        width: 100%;
    }


    font-family: 'Inter';
    margin-top: 3em;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
}

/* Estilos para el grid container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(4, 70px);
    gap: 5px;
}

/* Estilos para los elementos del grid */
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.8);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 40px;
    color: #ffffff; 
}

/* Estilos al pasar el cursor sobre los elementos del grid */
.grid-item:hover {
    background-color: rgba(2, 102, 2, 0.964);
}

/* Estilos para el ícono dentro de los elementos */
/* .grid-item i {
    font-size: 40px;
    color: #ffffff; 
} */

/* Estilos para los elementos con fondo rojo */
.grid-item-red {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.525);
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 40px;
    color: #ffffff; 
}


/* .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(4, 70px);
    gap: 5px;
}

.grid-item {
    background-color: rgba(3, 108, 3, 0.648);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:hover {
    background-color: rgba(0, 128, 0, 0.8); 
}

.grid-item:active {
    background-color: red; 
}

.grid-item i {
    color: #ffffff;
    font-size: 40px;
} */