
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}


div.showMovieContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    width: 100%;
    padding: 2em;


    @media screen and (max-width: 30em) {
        width: 100%;
    }


    font-family: 'Inter';
    margin-top: 3em;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    
}

div.showFunction
{
    display: flex;
}


div.lines
{
    margin-top: 1.5em;
    border-bottom: 1px solid rgba(255, 4, 4, 0.801);

    @media screen and (max-width: 64em) {
        width: 20em;
    }

    @media screen and (max-width: 30em) {
        width: 18em;
    }
}

#line1
{
    width: 35em;

    @media screen and (max-width: 64em) {
        width: 20em;
    }

    @media screen and (max-width: 30em) {
        width: 18em;
    }
}

#line2
{
    width: 35em;
   
    @media screen and (min-width: 64em) {
        margin-left: -8em;
    }

    @media screen and (max-width: 64em) {
        width: 20em;
    }

    @media screen and (max-width: 30em) {
        width: 18em;
    }
}


div.showMovie
{
    width: 20em;
    height: auto;

}


div.imageFunctionContainer
{
    margin-top: 2em;
    width: 16em;
    height: auto;

}

img.imageFunction
{
    max-width: inherit;
    max-height: inherit;
    height: inherit;
    width: inherit;
    object-fit: cover;
}

div.descriptionContainer
{
    margin-top: 1em;
    margin-bottom: 2em;
}

a.image
{
    margin-top: 2em;
    width: 16em;
    height: auto;
}